@import 'px';
@import 'ui';


@font-face
{ font-family: 'Circe';
  src: url('../fonts/Circe.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; }


@font-face
{ font-family: 'Circe';
  src: url('../fonts/CirceBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap; }


@font-face
{ font-family: 'Circe';
  src: url('../fonts/CirceExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap; }


@font-face
{ font-family: 'Circe';
  src: url('../fonts/CirceExtraLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap; }


:root
{ --link-color: #e61736;
  --red: #ed1c24;
  --blue: #193255;
  --lblue: #2382c4; }


body
{ overflow-x: hidden; }


body, button, input, select, table, textarea
{ font-family: 'Circe', var(--system-font); }


h1.extra,
h2.extra
{ font-weight: 800; }


@media (min-width: 640px)
{

h1
{ font-size: 3rem; }


h2
{ font-size: 2rem; }

}


.-db
{ display: block; }


.⚓
{ position: relative;
  top: -72px; }


.-c
{ text-align: center; }


a:link, a:visited
{ color: var(--link-color, darkred); }


:not(.∨) + .§¼
{ margin-top: calc(var(--base-line) / 4); }

:not(.∨) + .§½
{ margin-top: calc(var(--base-line) / 2); }

:not(.∨) + .§2
{ margin-top: calc(var(--base-line) * 2); }

:not(.∨) + .§3
{ margin-top: calc(var(--base-line) * 3); }

:not(.∨) + .§4
{ margin-top: calc(var(--base-line) * 4); }


[class*='-scroll-locked']
{ overflow: hidden; }


/* ** *** ** */

.-root
{ min-height: 100vh;
  display: flex;
  flex-direction: column; }


.-outer
{ padding-left: 12px;
  padding-right: 12px; }


.-inner
{ max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }


.-push
{ margin: auto; }



/* ** *** ** */

.-clrfix::after
{ content: '';
  clear: both;
  display: table; }


.-hidden
{ display: none; }


.-f
{ display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -12px;
  margin-bottom: -12px; }


.-f.-c
{ justify-content: center; }


.-f > *
{ flex: 0 1 auto;
  margin-left: 12px;
  margin-bottom: 12px; }



/* ** *** ** */

a.-bt,
button.-bt
{ display: inline-block;
  background: none;
  background-color: var(--bt-bg-color, red);
  border: none;
  color: var(--bt-color, white);
  padding: 14px 18px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 1;
  transition-property: background-color, color;
  transition-duration: 300ms; }


a.-bt:hover,
a.-bt:focus,
button.-bt:hover,
button.-bt:focus
{ background-color: var(--bt-bg-hover-color, var(--bt-bg-color, darkred));
  color: var(--bt-hover-color, var(--bt-color, white)); }


/* a.-bt.--red,
button.-bt.--red
{ --bt-bg-color: #ed1c24;
  --bt-bg-hover-color: darkred; } */



// a.-bt.--blue,
// button.-bt.--blue
// { --bt-bg-color: #059aff;
//   --bt-bg-hover-color: steelblue; }


// a.-bt.--dblue,
// button.-bt.--dblue
// { --bt-bg-color: #0070c0;
//   --bt-bg-hover-color: steelblue; }


// a.-bt.--pink,
// button.-bt.--pink
// { --bt-bg-color: #f53f95;
//   --bt-bg-hover-color: mediumvioletred; }


// a.-bt.--dark,
// button.-bt.--dark
// { --bt-bg-color: #004d81;
//   --bt-bg-hover-color: darkblue; }


// a.-bt.--icn,
// button.-bt.--icn
// { display: inline-flex;
//   align-items: center; }


// a.-bt.--icn img,
// button.-bt.--icn img
// { margin-inline-end: 12px;
//   width: 0.5em;
//   height: 0.5em;
//   transform: scale(2); }



/* ** *** ** */

.-video
{ position: relative;
  padding-bottom: 56.25%; }


.-video > *
{ position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px; }



/* ** *** ** */

.-csr .btns
{ display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -6px;
  margin-bottom: -6px; }
.-csr .btns > *
{ margin-left: 6px;
  margin-bottom: 6px; }


/* ** *** ** */

.-film .vd
{ position: relative;
  padding-bottom: 56.25%;
  width: 100%; }

.-film .vd video
{ position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }


.-film .vd .tel
{ background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 141.7 141.7' style='enable-background:new 0 0 141.7 141.7;' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23fff' d='M108.2,118.2H42V10.9h66.2V118.2z M70,129.1c0-3,2.4-5.3,5.3-5.3c2.9,0,5.3,2.4,5.3,5.3c0,2.9-2.4,5.3-5.3,5.3 C72.3,134.5,70,132.1,70,129.1 M112.7,134L112.7,134l0-128.6v0v0h0c0-2.9-2.4-5.3-5.3-5.3c0,0,0,0-0.1,0v0h-12h-35H42.9 c-2.9,0-5.3,2.4-5.3,5.3h0V134h0c0,0.1,0,0.1,0,0.2c0,2.9,2.4,5.2,5.4,5.2c0,0,0.1,0,0.1,0v0h64.3l0,0c2.9,0,5.3-2.3,5.3-5.2 C112.7,134.1,112.7,134,112.7,134'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat left 0px top 8px / 28px 28px;
  padding-left: 32px;
  line-height: 1.25;

  position: absolute;
  top: 12px;
  right: 0;
  color: #fff;
  background-color: #ed1c24bf;
  border-radius: 5px;
  padding: 0 6px;
  padding-left: 32px;
  text-shadow: 1px 1px 0 black; }


.-film .vd .tel .a
{ font-size: 14px }

.-film .vd .tel .b
{ font-size: 20px; }




/* ** *** ** */

.-header
{ background:
  url(../img/bg/header-2.jpg) no-repeat center top / 1920px auto #f5f5f5;
  padding-top: 60px;
  padding-bottom: 120px; }


.-header .tags
{ --link-color: #0077c0;
  font-weight: bolder;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto; }


.-header .tags a
{ display: inline-block;
  margin: 0 6px; }


.-header .moders
{ background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 6px #0003; }


.-header .moders .f
{ display: flex;
  flex-wrap: wrap;
  align-items: center; }


.-header .moders .f
{ justify-content: center; }


.-header .moders .f > *
{ padding: 12px; }


.-header .moders .f .face
{ flex: 1 1 200px; }


.-header .moders .f .info
{ flex: 100000 1 480px; }


.-header .moders .face img
{ display: block;
  margin: auto; }


.-header .moders .f .info
{ font-weight: bolder;
  line-height: 1; }


.-header .moders .f .info .big
{ color: var(--blue); }


.-header .moders .f .info .sml
{ color: var(--red); }


@media (min-width: 640px)
{

.-header .tags,
.-header .moders .f .info .sml
{ font-size: 24px; }


.-header .moders .f .info .big
{ font-size: 32px; }

}



/* ** *** ** */

.-head
{ background:
  url(../img/bg/header-bash.svg) no-repeat left 8px top 8px / auto 38px,
  url(../img/bg/header.jpg) no-repeat center top / 1920px auto #f5f5f5;
  padding-top: 60px;
  padding-bottom: 120px; }


.-head h1
{ color: var(--blue); }


.-head h1 > *
{ display: block; }


.-head h1 span
{ font-weight: 800; }


@media (min-width: 640px)
{

.-head h1
{ font-size: 54px; }


.-head h1 small
{ font-size: 32px; }

}


.-head .f
{ display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: -24px;
  margin-bottom: -24px; }


.-head .f > *
{ margin-left: 24px;
  margin-bottom: 24px;
  min-width: 0; }


.-head .f .logo
{ flex: 0 1 380px; }


.-head .f .title
{ flex: 0 1 520px; }


.-head .f .logo img
{ display: block;
  width: 368px; }


.-head .logos img
{ display: block;
  width: 640px;
  margin-left: auto;
  margin-right: auto; }


.-head .-bt
{ flex-basis: 290px; }



/* ** *** ** */

@media (min-width: 1600px)
{
.-decor
{ position: relative;
  user-select: none;
  pointer-events: none; }


.-decor::after,
.-decor::before
{ content: '';
  position: absolute; }

/*
.-decor::before
{ left: 0;
  top: -94px;
  width: 241px;
  height: 304px;
  background: url(../img/bg/header-left.png) no-repeat center / 100%; }
*/


.-decor::after
{ right: 0;
  top: -82px;
  width: 230px;
  height: 165px;
  background: url(../img/bg/header-right.png) no-repeat center / 100%; }
}



/* ** *** ** */

.-tasks .-inner
{ position: relative; }


.-tasks .-inner img
{ position: absolute;
  top: -46px; }



/* ** *** ** */

.-task
{ color: var(--lblue); }


.-task.blue
{ color: white;
  background-color: var(--lblue); }


.-task .f
{ display: flex;
  flex-wrap: wrap;
  align-items: center; }


.-task .f > *
{ min-width: 0; }


.-task .f .info
{ flex: 100000 1 480px;
  margin: 48px 0; }


.-task .f .pict
{ flex: 1 1 460px; }


.-task .f .pict img
{ display: block;
  margin: auto; }


.-task .num
{ left: 0;
  top: 0;
  text-align: center;
  font-size: 96px;
  font-weight: 300;
  line-height: 1; }


.-task ul
{ line-height: 1; }


.-task li + li
{ margin-top: 12px; }


.-task h2
{text-transform: uppercase; }


@media (min-width: 640px)
{
.-task .info
{ position: relative;
  padding-left: 72px;
  min-height: 170px; }


.-task .num
{ position: absolute;
  line-height: 0.65; }


.-task ul
{ font-size: 20px;
  font-weight: 300; }
}



/* ** *** ** */

.-main-page-news h2,
.-sponsor h2
{ text-align: center;
  color: var(--blue);
  font-weight: bolder; }


.-sponsor .f
{ display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -24px;
  margin-bottom: -24px; }


.-sponsor .f > *
{ flex: 0 1 280px;
  margin-left: 24px;
  margin-bottom: 24px; }


.-sponsor .item img
{ box-shadow: 0 0 6px #0003;
  transition: box-shadow 300ms; }


.-sponsor .item img
{ display: block;
  margin: auto; }


.-sponsor .item a:hover img,
.-sponsor .item a:focus img
{ box-shadow: 0 0 12px #0006; }



/* ** *** ** */

.-foot
{ background: url(../img/bg/footer.jpg) no-repeat center bottom / 1920px auto;
  padding-top: 120px;
  padding-bottom: 120px;
  min-height: 372px; }


.-foot .big
{ text-transform: uppercase;
  color: var(--blue); }


@media (min-width: 640px)
{
.-foot .big
{ font-size: 26px;
  font-weight: bolder;
  line-height: 1;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
}










@media (max-width: 1639px)
{
lottie-player.t,
lottie-player.rt,
lottie-player.lb,
lottie-player.lt
{ display: none; }
}


lottie-player.t,
lottie-player.rt,
lottie-player.lb,
lottie-player.lt
{ position: absolute;
  user-select: none;
  pointer-events: none; }


lottie-player.t
{ left: 0;
  top: 0;
  width: 1280px;
  height: 83px;
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); }


lottie-player.rt
{ right: 0;
  top: 0;
  width: 300px;
  height: 374px; }


lottie-player.lb
{ left: 0;
  bottom: 0;
  width: 300px;
  height: 374px; }


lottie-player.lt
{ left: 0;
  top: 0;
  width: 300px;
  height: 374px;
  transform: scaleX(-1) rotate(180deg); }


.-csr
{ background: url(/i/bg.svg) no-repeat center top / 100% auto;
  position: relative;
  --padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 12px;
  padding-right: 12px;
  min-height: 100vh; }


.-csr .orgs,
.-csr .logo
{ position: relative; }


.-csr .logo img
{ display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;
  user-select: none;
  pointer-events: none; }


.-csr .orgs
{ display: flex;
  margin-left: -6px;
  margin-bottom: -6px; }


.-csr .orgs > *
{ flex: 0 1 auto;
  margin-left: 6px;
  margin-bottom: 6px; }


.-csr .orgs img
{ display: block; }


.-csr .orgs a:hover img,
.-csr .orgs a:focus img
{ opacity: 0.5; }


.-csr .tags,
.-csr .tags > *
{ position: relative; }


.-csr .tags
{ max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  text-align: center; }


.-csr .tags > *
{ display: inline-block;
  color: gray;
  font-style: italic;
  vertical-align: middle;
  margin-left: 6px;
  margin-right: 6px; }


.-csr .tags > :nth-child(1)
{ font-size: 24px;
  animation: flying-in-space 9s ease-in-out infinite; }

.-csr .tags > :nth-child(2)
{ font-size: 32px;
  animation: flying-in-space 12s ease-in-out infinite; }

.-csr .tags > :nth-child(3)
{ font-size: 12px;
  animation: flying-in-space 6s ease-in-out infinite; }

.-csr .tags > :nth-child(4)
{ font-size: 26px;
  animation: flying-in-space 8s ease-in-out infinite; }

.-csr .tags > :nth-child(5)
{ font-size: 14px;
  animation: flying-in-space 10s ease-in-out infinite; }





.-csr .tel
{ background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 141.7 141.7' style='enable-background:new 0 0 141.7 141.7;' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23187dc6' d='M108.2,118.2H42V10.9h66.2V118.2z M70,129.1c0-3,2.4-5.3,5.3-5.3c2.9,0,5.3,2.4,5.3,5.3c0,2.9-2.4,5.3-5.3,5.3 C72.3,134.5,70,132.1,70,129.1 M112.7,134L112.7,134l0-128.6v0v0h0c0-2.9-2.4-5.3-5.3-5.3c0,0,0,0-0.1,0v0h-12h-35H42.9 c-2.9,0-5.3,2.4-5.3,5.3h0V134h0c0,0.1,0,0.1,0,0.2c0,2.9,2.4,5.2,5.4,5.2c0,0,0.1,0,0.1,0v0h64.3l0,0c2.9,0,5.3-2.3,5.3-5.2 C112.7,134.1,112.7,134,112.7,134'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat left 0px top 8px / 28px 28px;
  padding-left: 32px;
  line-height: 1.25;
  display: block;
  --position: absolute;
  top: 12px;
  right: 0;
  color: var(--link-color);
  --background-color: #ed1c24bf;
  border-radius: 5px;
  padding: 0 6px;
  padding-left: 32px;
  --text-shadow: 1px 1px 0 black;
  text-decoration: none; }


.-csr .tel .a
{ font-size: 14px }

.-csr .tel .b
{ font-size: 20px; }


@keyframes flying-in-space
{
0%
{ left: 0; }
25%
{ left: -9px; }
75%
{ left: 9px; }
100%
{ left: 0; }
}








.-csr .breadcrumb
{ position: relative;
  color: #9e9e9e;
  --link-color: #9e9e9e; }

.-csr .contents
{ position: relative; }

.-csr .contents h1,
.-csr .contents h2
{ color: var(--blue);
  text-transform: uppercase;
  font-weight: bolder; }

@media (min-width: 640px)
{
.-csr .contents h1,
.-csr .contents h2
{ font-size: 40px; }
}






.-csr .contents .bg-white
{ background-color: white;
  box-shadow: 0 0 12px #0003; }



.-csr .contents .padding
{ padding: 12px; }

@media (min-width: 800px)
{
.-csr .contents .padding
{ padding: 24px; }
}





.-csr .contents .document-inside
{  }

.-csr .contents .document-inside .h
{ display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-top: -12px; }

.-csr .contents .document-inside .h > *
{ min-width: 0;
  margin-left: 12px;
  margin-top: 12px; }

.-csr .contents .document-inside .h h2
{ flex: 1 1 320px;
  font-size: 18px;
  line-height: 1.35;
  color: #0070c0; }

.-csr .contents .document-inside .h p
{ flex: 0 1 auto; }


.-csr .contents .document-inside .i
{ padding: 12px;
  max-height: 90vh;
  height: 320px;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  overflow: auto;
  box-shadow: 0 24px 24px -24px inset #0001, 0 -24px 24px -24px inset #0001; }

.-csr .contents .document-inside .i::-webkit-scrollbar
{ width: 6px;
  height: 6px;
  background-color: #0001;
  border-radius: 0 12px 12px 0; }

.-csr .contents .document-inside .i::-webkit-scrollbar-thumb
{ background-color: #187dc6;
  border-radius: 9px; }

.-csr .contents .document-inside .i::-webkit-scrollbar-corner
{ display: none; }




.-csr .contents .anketa h2
{ color: red;
  text-align: center;
  font-size: 24px; }

.-csr .contents .anketa form > *+*
{ margin-top: 24px; }

.-csr .contents .anketa form label
{ display: block;
  cursor: pointer; }

.-csr .contents .anketa form label,
.-csr .contents .anketa form label > *
{ display: block; }


.-csr .contents .anketa form label > *+*
{ margin-top: 6px; }

.-csr .contents .anketa form label .h
{ font-weight: bolder; }

.-csr .contents .anketa form label [type='text'],
.-csr .contents .anketa form label [type='email']
{ border: 1px solid #c6c6c6;
  border-radius: 6px;
  outline: none;
  padding: 12px 6px;
  width: 100%; }
.-csr .contents .anketa form label [type='text']:hover,
.-csr .contents .anketa form label [type='text']:focus,
.-csr .contents .anketa form label [type='email']:hover,
.-csr .contents .anketa form label [type='email']:focus,
.-csr .contents .anketa form label [type='file']:hover ~ *,
.-csr .contents .anketa form label [type='file']:focus ~ *
{ border-color: #666; }



.-csr .contents .anketa form .-upload
{ position: relative; }

.-csr .contents .anketa form .-upload .clickarea
{ padding: 12px;
  border: 1px solid #c6c6c6;
  border-radius: 6px; }

.-csr .contents .anketa form .-upload .inputholder
{  }

.-csr .contents .anketa form .-upload input
{ position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }


.-csr .contents .anketa form .-upload .inputholder
{ display: inline-block;
  background: none;
  background-color: #0070c0;
  border: none;
  color: white;
  padding: 14px 18px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 1;
  transition-property: background-color, color;
  transition-duration: 300ms; }

.-csr .contents .anketa form label [type='file']:hover ~ * .inputholder,
.-csr .contents .anketa form label [type='file']:focus ~ * .inputholder
{ background-color: steelblue; }


.-csr .contents .anketa form .-upload .clickarea
{ display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 12px; }

.-csr .contents .anketa form .-upload .inputholder
{ min-width: 0;
  flex: 0 1 auto;
  margin-right: auto; }

.-csr .contents .anketa form .-upload .information
{ flex: 0 1 450px;
  min-width: 0;
  margin-right: auto;
  line-height: 1;
  font-size: 15px; }

.-csr .contents .anketa form .-upload .information > *
{ display: block; }

.-csr .contents .anketa form .-upload .information small
{ font-size: 12px;
  text-align: center; }

.-csr .contents .anketa form .-upload .information * + small
{ margin-top: 6px; }





.-csr .contents .anketa form .chebx
{ position: relative;
  color: #7d7c7d;
  --link-color: #7d7c7d;
  display: flex;
  align-items: center;
  justify-content: center; }

.-csr .contents .anketa form .chebx a
{ text-decoration: underline; }

.-csr .contents .anketa form .chebx a:hover,
.-csr .contents .anketa form .chebx a:focus
{ text-decoration-color: red; }

.-csr .contents .anketa form .chebx input
{ position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

.-csr .contents .anketa form .chebx input:checked ~ .bx
{ --border-color: blue; }

.-csr .contents .anketa form .chebx input:checked ~ .bx:before
{ content: '✔';
  color: #059aff;
  line-height: 1;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.-csr .contents .anketa form .chebx .bx
{ position: relative;
  width: 32px;
  height: 32px;
  border: 2px solid #059aff;
  border-radius: 6px;
  margin-inline-end: 6px; }

















/* ** *** ** */

.-menu.is-fixed
{ position: fixed;
  z-index: 1;
  width: 100%; }


.-menu nav
{ display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 9px #0003;
  border-radius: 32px;
  line-height: 1;
  padding: 12px;
  min-height: 48px; }


.-menu nav > *
{ margin: 0; }


.-menu nav > button
{ border: none;
  background: none;
  height: 24px;
  padding: 0 3px;
  background-color: gainsboro; }


.-menu nav > button img
{ width: 21px;
  height: 21px;
  display: block; }


.-menu nav > button:focus,
.-menu nav > button:hover
{ outline: none;
  background-color: silver; }


.-menu a:focus,
.-menu a:hover,
.-menu ul button:focus,
.-menu ul button:hover
{ outline: none;
  color: red; }


.-menu ul button:focus,
.-menu ul button:hover
{ text-decoration: underline;
  cursor: pointer; }





/*
.-menu nav button,
.-menu nav button > *
{ position: relative; }
.-menu nav button::before
{ content: '';
  position: absolute;
  left: -3px;
  top: -3px;
  width: 30px;
  height: 30px; }
.-menu button:focus::before,
.-menu button:hover::before
{ background-color: green; }
*/


.-menu ul
{ list-style-type: none;
  display: flex;
  font-size: 13px;
  font-weight: bolder; }


.-menu ul li
{ flex: 0 1 auto;
  margin: auto;
  display: flex;
  align-items: center; }


.-menu ul:not(.soc) li img
{ margin-right: 3px; }


.-menu ul button
{ background: none;
  border: none; }


.-menu address
{ --margin-left: auto; }






.-menu ul.soc img
{ width: 26px;
  height: 26px;
  display: block; }


.-menu ul.soc li
{ padding: 0 6px;
  margin-bottom: 0; }



.-menu button,
.-menu nav > ul:nth-child(2)
{ margin-right: auto; }


.-menu .ppc
{ --margin-left: auto;
  flex: 0 1 230px;
  min-width: 0;
  overflow: hidden;
  background-color: #f7f7f7;
  border: 1px solid #eee;
  border-radius: 24px;
  padding: 6px 0; }


@media (min-width: 480px)
{
.-menu .ppc
{ flex: 0 1 280px; }
}


.-menu .ppc ol
{ list-style-type: none;
  display: flex; }


.-menu .ppc ol > li
{ flex: 0 0 130px;
  overflow: hidden;
  padding: 0 6px; }


.-menu .ppc li
{ font-weight: bolder; }

.-menu .ppc .k,
.-menu .ppc .v
{ overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }


.-menu .ppc .k
{ font-size: 12px; }

.-menu .ppc .v
{ font-size: 15px;
  margin-top: 3px; }


.-menu .ppc .is-black
{ color: #222; }


.-menu .ppc .is-gray
{ color: #a7a7a7; }


.-menu .ppc .is-red
{ color: #f00; }

.-menu .ppc .is-red::before
{ content:'▾'; }


.-menu .ppc .is-green
{ color: #32cd32; }

.-menu .ppc .is-green::before
{ content:'▴'; }











@media (max-width: 1199px)
{
.-menu nav
{ flex-wrap: wrap; }


.-menu nav:not(.active) > ul
{ display: none; }


.-menu nav.active ul
{ order: 1;
  flex: 1 1 100%;
  flex-direction: column;
  text-align: center;
  border-radius: 6px;
  max-height: calc(100vh - 48px - 12px);
  overflow: auto;
  margin-top: 12px; }


.-menu nav.active ul.soc
{ flex-direction: row; }


.-menu nav.active > ul
{ padding: 12px; }


.-menu nav.active ul * + li
{ margin-top: 12px; }


.-menu nav.active .sub > button
{ display: none; }


.-menu nav.active .sub > button + *
{ margin-top: 0; }


.-menu nav ul.soc
{ margin: auto;
  flex: 0 1 auto; }
}



@media (min-width: 1200px)
{
.-menu nav
{ padding: 12px 24px; }


.-menu nav > button
{ display: none; }


.-menu nav > ul:not(.soc) > li
{ margin-right: 24px; }


.-menu ul .sub
{ position: relative; }


.-menu ul .sub ul
{ display: none;
  flex-direction: column;
  margin-top: 0;
  position: absolute;
  max-width: 100vw;
  width: 200px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 0 9px 9px 9px;
  padding: 12px;
  margin-top: 12px;
  max-height: calc(100vh - 48px);
  overflow: auto; }


.-menu ul .sub:hover ul,
.-menu ul .sub:focus-within ul
{ display: flex; }


.-menu ul .sub:hover::before,
.-menu ul .sub:focus-within::before
{ content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 12px; }


.-menu ul:not(.soc) > li:not(:first-child)
{ border-left: 1px solid #d7d7d7;
  padding-left: 24px; }



.-menu ul.soc
{ margin-right: 12px; }
}




.-menu
{ position: relative;
  --link-color: #187dc6; }













.-o-nas
{ background: url(../img/bg/header-2.jpg) no-repeat center bottom / 1920px auto #f5f5f5;
  padding-top: 60px;
  padding-bottom: 120px; }

.-o-nas h2
{ text-align: center;
  color: var(--blue);
  font-weight: bolder; }

.-o-nas .apple
{ max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--blue);
  font-weight: bolder;
  font-size: 21px;
  line-height: 1.3; }

.-o-nas ul
{ list-style-type: none;
  color: var(--blue);
  font-size: 19px;
  display: flex;
  flex-wrap: wrap; }

.-o-nas ul li
{ flex: 1 1 420px;
  min-width: 0;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.-o-nas ul li .desc
{ flex: 1 1 320px;
  margin-right: 48px; }

.-o-nas ul li .pict
{ flex: 0 1 184px; }

.-o-nas ul li .pict img
{ display: block; }

@media (min-width: 840px)
{
.-o-nas ul li:nth-child(1)
{ border-right: 1px solid #e0e0e0; }

.-o-nas ul li:nth-child(3)
{ border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0; }

.-o-nas ul li:nth-child(4)
{ border-top: 1px solid #e0e0e0; }
}




























.-kontakt
{ position: relative;
  box-shadow: 0 0 12px #0003;
  min-height: 320px;
  /*background: linear-gradient(0deg, #0070c0 10px, white 10px);*/
  background: white;
  display: flex;
  flex-direction: column; }

.-kontakt .info
{ display: flex;
  flex-direction: column;
  flex: 1 1 100%; }

.-kontakt .desc
{ margin: 12px 0; }

.-kontakt .pict img
{ display: block;
  margin: auto; }

.-kontakt.main .pict img
{ transform: scale(0.75); }
.-kontakt:not(.main) .pict img
{ transform: scale(0.65); }

.-kontakt .addr,
.-kontakt .wr,
.-kontakt .addr
{ padding: 12px; }

@media (min-width: 800px)
{
.-kontakt .pict img
{ position: absolute;
  left: 10px;
  top: 10px;
  max-height: calc(100% - 20px); }

.-kontakt .addr,
.-kontakt .wr,
.-kontakt .addr
{ padding-left: 320px; }
}

.-kontakt .addr
{ /*background-color: #0070c0;
  color: #fff;*/
  --link-color: #fffed; }

.-kontakt .prof
{ font-size: 20px;
  color: #0070c0; }

.-kontakt .desc
{ color: #abadae;
  --base-line: 12px; }

.-kontakt .addr
{ font-size: 20px;
  margin-top: auto; }

.-kontakt .name
{ text-transform: uppercase;
  color: #0070c0;
  font-size: 24px;
  font-weight: bolder; }

@media (min-width: 640px)
{
.-kontakt .name
{ font-size: 24px; }
}




.-kontakt .addr
{ position: relative; }

.-kontakt .addr::before
{ content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(90deg, #f4f8ff, #f4f8ff); }

@media (min-width: 800px)
{
.-kontakt .addr::before
{ background: linear-gradient(90deg, transparent 320px, #f4f8ff 320px); }
}


.-kontakt .addr > *
{ display: inline-block; }


.-kontakt .addr a
{ padding-left: 32px;
  margin-right: 16px; }


.-kontakt .addr a[href^='tel:']
{ background: url(/img/contact/phone.svg) no-repeat left top 3px / 24px 24px; }

.-kontakt .addr a[href^='mailto:']
{ background: url(/img/contact/email.svg) no-repeat left top 3px / 24px 24px; }







.-novostnoi-list
{ list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-bottom: -24px; }

.-novostnoi-list > *
{ flex: 1 1 290px;
  min-width: 0;
  margin-left: 24px; }

.-novostnoi-list > :not(:empty)
{ margin-bottom: 24px; }

.-novostnoi-list a
{ display: block;
  background: url(/img/n-r.png) no-repeat right bottom white;
  height: 100%;
  box-shadow: 0 0 9px #0003;
  border-radius: 6px;
  overflow: hidden;
  --link-color: var(--blue); }

.-novostnoi-list .pict
{ position: relative;
  padding-bottom: 66%; }

.-novostnoi-list .pict img
{ position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.-novostnoi-list .date
{ display: inline-block;
  position: relative;
  top: -21px;
  background-color: #0070c0;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  padding: 12px; }

.-novostnoi-list .name
{ padding: 0 12px 48px 12px;
  font-weight: bolder; }



.-main-page-news
{ padding-top: 72px;
  padding-bottom: 72px;
  background-color: #0001; }



.-novost-vnutri
{ box-shadow: 0 0 9px #0003;
  background: url(/img/n-r.png) no-repeat right bottom white;
  z-index: 1; }

.-novost-vnutri .desc h2
{ text-transform: none;
  color: #1a2e4a; }

.-novost-vnutri .desc
{ color: #163759;
  padding: 0 12px 24px 12px; }

@media (min-width: 800px)
{
.-novost-vnutri .desc
{ color: #163759;
  padding: 0 24px 24px 24px; }
}

.-novost-vnutri  .pict img
{ display: block;
  width: 100%; }

.-novost-vnutri .date
{ display: inline-block;
  position: relative;
  top: -21px;
  background-color: #0070c0;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  padding: 12px; }


.-novost-vnutri  .gal img
{ display: block;
  width: 100%; }




.-novost-vnutri  .glist
{ list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-bottom: -24px; }

.-novost-vnutri  .glist > *
{ flex: 1 1 280px;
  min-width: 0;
  margin-left: 24px; }

.-novost-vnutri  .glist > :not(:empty)
{ 
  margin-bottom: 24px; }


.-novost-vnutri  .glist img
{ display: block;
  width: 100%;
  border-radius: 3px; }



/* ** *** ** */

.-novost-vnutri-wrapper
{ display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }


.-novost-vnutri-wrapper .-novost-vnutri
{ flex: 1 1 850px; }


.-novost-vnutri-wrapper .seealso
{ flex: 1 1 350px;
  --link-color: #c1c1c1;
  color: #c1c1c1;
  background-color: #f9f9f9;
  position: sticky;
  top: 0;
  font-size: 15px;
  line-height: 1;
  box-shadow: 0 0 9px #0003; }


.-novost-vnutri-wrapper .seealso .hdr,
.-novost-vnutri-wrapper .seealso .hdr span
{ position: relative;
  background-color: #f9f9f9;
  color: #1a2e4a;
  font-size: 16px;
  font-weight: bolder; }

.-novost-vnutri-wrapper .seealso .hdr span
{ padding-right: 12px; }

.-novost-vnutri-wrapper .seealso .hdr::before
{ content: '';
  position: absolute;
  background-color: #d3d3d3;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px; }


.-novost-vnutri-wrapper .seealso .img
{ min-height: 32px; }

.-novost-vnutri-wrapper .seealso .img,
.-novost-vnutri-wrapper .seealso .img img
{ position: relative; }


.-novost-vnutri-wrapper .seealso .img .date
{ position: absolute;
  bottom: 0;
  padding: 10px 9px 7px;
  color: white;
  background-color: #d3d3d3; }


.-novost-vnutri-wrapper .seealso img
{ display: block;
  width: 100%; }


.-novost-vnutri-wrapper .seealso .txt
{ margin-top: 12px; }


.-novost-vnutri-wrapper .seealso ul
{ list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-bottom: -24px; }

.-novost-vnutri-wrapper .seealso ul li
{ flex: 1 1 280px;
  min-width: 0;
  margin-left: 24px; }


.-novost-vnutri-wrapper .seealso ul li:not(:empty)
{ margin-bottom: 24px; }


.-novost-vnutri-wrapper .seealso
{ padding: 24px 12px; }

@media (min-width: 800px)
{
.-novost-vnutri-wrapper .seealso
{ padding: 24px; }
}




/* ** *** ** */

.-service-list
{ list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-bottom: -48px; }


.-service-list > *
{ flex: 1 1 400px;
  min-width: 0;
  margin-left: 24px; }


.-service-list > :not(:empty)
{ margin-bottom: 48px; }



.-service-list h2,
.-csr .-service-list h2
{ font-size: 24px; }


.-service-list a
{ border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  text-decoration: none;
  --link-color: var(--blue);
  height: 100%;
  min-height: 310px;
  background: var(--bg1, none) no-repeat right -4px top -4px; }


.-service-list .info
{ flex: 1 1 320px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.-service-list .info,
.-service-list .pict
{ min-width: 0; }

.-service-list .pict
{ flex: 1 1 240px;
  align-self: flex-end; }


.-service-list .pict img
{ display: block;
  margin-left: auto;
  max-height: 260px; }


.-service-list .info .arrow
{ height: 30px;
  transition: transform 600ms; }

.-service-list a:hover .arrow,
.-service-list a:focus .arrow
{ transform: translateX(20px); }

.-service-list a:hover h2,
.-service-list a:focus h2
{ color: indianred; }


.-service-list p
{ font-size: 15px; }



/* ** *** ** */

.-service-page-title
{ display: flex;
  flex-wrap: wrap;
  background: var(--bg1, none) no-repeat right -4px top -4px; }

.-service-page-title > h2
{ align-self: center;
  padding: 24px;
  flex: 1 1 400px; }

.-service-page-title > .bg
{ align-self: flex-end;
  margin: auto;
  flex: 0 1 300px; }

.-service-page-title > .bg img
{ display: block;
  width: 300px;
  margin: auto;
  user-select: none;
  pointer-events: none; }


.-service-blue
{ font-weight: bolder;
  color: #187dc6; }

.-service-bullet
{ list-style-image: url(/img/service/bullet.svg);
  list-style-position: outside;
  padding-left: 14px; }

.-service-bullet li+li
{ margin-top: 12px; }



/* ** *** ** */

.-support-page-title
{ display: flex;
  flex-wrap: wrap;
  background:
  var(--bg2, none) no-repeat left bottom,
  var(--bg1, none) no-repeat right -4px top -4px,
  var(--bg0, none) no-repeat center / 100% 100%; }

.-support-page-title > .tx
{ align-self: center;
  padding: 24px;
  flex: 1 1 400px; }

.-csr .-support-page-title h2
{ text-transform: none;
  color: white;
  line-height: 1.2; }

.-support-page-title .bg
{ align-self: flex-end;
  margin: auto;
  flex: 0 1 570px; }

.-support-page-title .bg img
{ display: block;
  width: 570px;
  margin: auto;
  user-select: none;
  pointer-events: none; }


.-csr .-support-your-project h2
{ text-transform: none; }


.-support-your-project ul.-support-list
{ display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-bottom: -20px; 
  list-style-type: none; }


.-support-your-project ul.-support-list > *
{ flex: 1 1 280px;
  min-width: 0;
  margin-left: 20px; }


.-support-your-project ul.-support-list > *:not(:empty)
{ margin-bottom: 20px; }


.-support-your-project ul.-support-list a
{ background: var(--bg1, none) no-repeat center / cover #086cba;
  --link-color: white;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  padding: 22px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  overflow: hidden;
  line-height: 1; }


.-support-your-project ul.-support-list a.not-active
{ text-decoration: none; }


.-support-your-project ul.-support-list a img
{ display: block;
  transition: transform 300ms; }


.-support-your-project ul.-support-list a:hover img,
.-support-your-project ul.-support-list a:focus img
{ transform: translateX(12px); }








.-support-your-project ul.-support-list-2
{ list-style-type: none;
  color: #1a2e4a;
  --link-color: #1a2e4a;
  font-size: 18px;
  line-height: 1; }


@media (max-width: 899px)
{
.-support-your-project ul.-support-list-2 li
{ display: flex;
  align-items: center;
  padding: 12px 0 9px; }


.-support-your-project ul.-support-list-2 img
{ align-self: flex-start;
  user-select: none;
  pointer-events: none; }


.-support-your-project ul.-support-list-2 span
{ align-self: center; }


.-support-your-project ul.-support-list-2 li + li
{ border-top: 2px solid #f0f0f0; }
}


@media (min-width: 900px)
{
.-support-your-project ul.-support-list-2
{ position: relative;
  height: 660px;
  background: var(--bg1, none) no-repeat center; }

.-support-your-project ul.-support-list-2::after
{ content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: var(--bg2, none) no-repeat center; }


.-support-your-project ul.-support-list-2 li
{ position: absolute;
  max-width: 200px; }

.-support-your-project ul.-support-list-2 li::after
{ content: '';
  position: absolute;
  pointer-events: none;
  transition: opacity 600ms;
  opacity: 0; }
.-support-your-project ul.-support-list-2 li:hover::after,
.-support-your-project ul.-support-list-2 li:focus-within::after
{ opacity: 1; }


.-support-your-project ul.-support-list-2 li a
{ outline: none; }
.-support-your-project ul.-support-list-2 li a:hover,
.-support-your-project ul.-support-list-2 li a:focus
{ color: #2b74b6;
  text-underline-offset: 2px; }


.-support-your-project ul.-support-list-2 li:nth-child(1)
{ left: calc(50% + 80px);
  top: calc(50% - 280px); }

.-support-your-project ul.-support-list-2 li:nth-child(2)
{ left: calc(50% + 220px);
  top: calc(50% - 150px); }

.-support-your-project ul.-support-list-2 li:nth-child(3)
{ left: calc(50% + 245px);
  top: calc(50% + 30px); }

.-support-your-project ul.-support-list-2 li:nth-child(4)
{ left: calc(50% + 160px);
  top: calc(50% + 190px); }

.-support-your-project ul.-support-list-2 li:nth-child(5)
{ left: calc(50% - 95px);
  top: calc(50% + 255px); }

.-support-your-project ul.-support-list-2 li:nth-child(6)
{ left: calc(50% - 360px);
  top: calc(50% + 170px); }

.-support-your-project ul.-support-list-2 li:nth-child(7)
{ left: calc(50% - 425px);
  top: calc(50% + 30px); }

.-support-your-project ul.-support-list-2 li:nth-child(8)
{ right: calc(50% + 210px);
  top: calc(50% - 140px); }

.-support-your-project ul.-support-list-2 li:nth-child(9)
{ left: calc(50% - 230px);
  top: calc(50% - 280px); }


.-support-your-project ul.-support-list-2 li:nth-child(1)::after
{ left: -85px;
  top: 35px;
  width: 175px;
  height: 244px;
  clip-path: polygon(0% 0%, 100% 27%, 0% 100%);
  background: linear-gradient( -130deg, rgb(15,69,140) 0%, rgb(51,129,194) 100%); }

.-support-your-project ul.-support-list-2 li:nth-child(2)::after
{ left: -225px;
  top: -30px;
  width: 250px;
  height: 179px;
  clip-path: polygon(0% 100%, 69% 0%, 100% 84%);
  background: linear-gradient( -160deg, rgb(15,69,140) 0%, rgb(51,129,194) 100%); }

.-support-your-project ul.-support-list-2 li:nth-child(3)::after
{ left: -250px;
  top: -60px;
  width: 250px;
  height: 179px;
  clip-path: polygon(0% 16%, 100% 0%, 87% 87%);
  background: linear-gradient( -130deg, rgb(15,69,140) 0%, rgb(51,129,194) 100%); }

.-support-your-project ul.-support-list-2 li:nth-child(4)::after
{ left: -165px;
  top: -190px;
  width: 250px;
  height: 235px;
  clip-path: polygon(0% 0%, 86% 53%, 32% 100%);
  background: linear-gradient( -45deg, rgb(15,69,140) 0%, rgb(51,129,194) 100%); }

.-support-your-project ul.-support-list-2 li:nth-child(5)::after
{ left: -5px;
  top: -255px;
  width: 250px;
  height: 235px;
  clip-path: polygon(38% 0%, 70% 101%, 1% 97%);
  background: linear-gradient( -45deg, rgb(15,69,140) 0%, rgb(51,129,194) 100%); }

.-support-your-project ul.-support-list-2 li:nth-child(6)::after
{ left: 145px;
  top: -170px;
  width: 215px;
  height: 225px;
  clip-path: polygon(0% 51%, 100% 0%, 55% 100%);
  background: linear-gradient( 41deg, rgb(15,69,140) 0%, rgb(51,129,194) 100%); }

.-support-your-project ul.-support-list-2 li:nth-child(7)::after
{ left: 180px;
  top: -65px;
  width: 240px;
  height: 165px;
  clip-path: polygon(0% 0%, 100% 21%, 12% 91%);
  background: linear-gradient( 60deg, rgb(15,69,140) 0%, rgb(51,129,194) 100%); }

.-support-your-project ul.-support-list-2 li:nth-child(8)::after
{ left: 168px;
  top: -42px;
  width: 240px;
  height: 185px;
  clip-path: polygon(31% 0%, 100% 100%, 0% 80%);
  background: linear-gradient( 120deg, rgb(15,69,140) 0%, rgb(51,129,194) 100%); }

.-support-your-project ul.-support-list-2 li:nth-child(9)::after
{ left: 60px;
  top: 35px;
  width: 165px;
  height: 245px;
  clip-path: polygon(0% 25%, 100% 0%, 100% 100%);
  background: linear-gradient( 150deg, rgb(15,69,140) 0%, rgb(51,129,194) 100%); }


.-support-your-project ul.-support-list-2 img
{ display: none; }

}



/* ** *** ** */

.-addr-and-map
{ display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 12px #0003;
  background: white;
  line-height: 1;
  --link-color: #000; }

.-addr-and-map > *
{ padding: 12px;
  min-width: 0;
  flex: 1 1 420px; }

.-addr-and-map .info
{ padding: 24px 12px; }

@media (min-width: 960px)
{
.-addr-and-map .info
{ padding: 48px 24px; }
}

.-addr-and-map .ymap .wr
{ position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 12px; }

@media (min-width: 480px)
{
.-addr-and-map .ymap .wr
{ padding-bottom: 60%; }
}

.-addr-and-map .ymap .wr > *
{ position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }


.-addr-and-map * + .item
{ margin-top: 32px; }


.-addr-and-map .item
{ display: flex; }


.-addr-and-map .item .pict
{ margin-right: 12px;
  flex: 0 0 32px; }


.-addr-and-map .pict img
{ display: block;
  width: 32px;
  height: 32px; }


.-addr-and-map .data .k
{ font-weight: bolder;
  font-size: 18px;
  color: #1a7ec6; }


.-addr-and-map .data * + .v
{ margin-top: 6px; }



/* ** *** ** */

.-footer
{ background-color: #1a2e4a;
  color: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
  --link-color: currentColor;  }


.-footer .f
{ display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-bottom: -24px; }


.-footer .f > *
{ min-width: 0;
  flex: 1 1 240px;
  margin-left: 24px;
  margin-bottom: 24px; }


@media (max-width: 1055px)
{
.-footer .f > *
{ flex: 1 1 330px; }
}



.-footer .soc
{ list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -6px;
  margin-bottom: -6px; }

.-footer .soc > *
{ min-width: 0;
  flex: 0 0 26px;
  margin-left: 6px;
  margin-bottom: 6px; }

.-footer .soc img
{ display: block;
  width: 26px;
  height: 26px; }


.-footer span
{ display: inline-block; }


.-footer .logo
{ align-self: center; }

.-footer .logo img
{ display: block;
  width: 180px; }


.-footer .addr,
.-footer .time,
.-footer .cont
{ margin-top: 12px; }








/* ** *** ** */

.-callback
{ min-height: 700px;
  background-color: #efefef;
  padding-top: 42px;
  padding-bottom: 42px; }


@media (min-width: 1880px)
{
.-callback
{ background-position-x: right; }
}


.-callback .lim
{ position: relative;
  max-width: 580px;
  padding-right: 20px; }


.-callback .lim::after
{ content: '';
  position: absolute;
  top: 20%;
  right: 0;
  width: 1px;
  height: 80%;
  background-color: #e7e7e7; }


.-callback form label,
.-callback form label > *
{ display: block; }


.-callback form > * + *
{ margin-top: 24px; }


.-callback form a
{ text-decoration: underline;
  /*text-underline-offset: 0px;
  text-decoration-thickness: 1px;*/ }


.-callback form a:focus,
.-callback form a:hover
{ text-decoration-color: red; }

/* input text */

.-callback form .-x-text,
.-callback form .-x-checkbox
{ max-width: 370px; }


.-x-text
{ font-size: 18px; }


.-x-text *
{ font-size: inherit; }


.-x-text textarea
{ min-height: 60px;
  min-width: 100%; }


.-x-text input
{ min-width: 0; }


.-x-text input,
.-x-text textarea
{ border: 1px solid #e3e3e3;
  padding: 17px 6px;
  display: block;
  width: 100%;
  border-radius: 6px; }


.-x-text:hover input,
.-x-text:focus-within input,
.-x-text:hover textarea,
.-x-text:focus-within textarea
{ border-color: #059aff;
  outline: none; }



/* input check */

.-callback form .-x-checkbox,
.-x-checkbox
{ display: flex;
  align-items: center;
  line-height: 1; }


.-x-checkbox,
.-x-checkbox *
{ position: relative; }


.-x-checkbox input
{ opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%; }


.-x-checkbox:hover .cbox,
.-x-checkbox:focus-within .cbox
{ border-color: #059aff; }


.-x-checkbox .cbox
{ background: none;
  border: 2px solid #b0b0b0;
  width: 34px;
  height: 34px;
  margin-inline-end: 12px;
  flex: 0 0 auto; }


.-x-checkbox :checked + .cbox
{ background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cpolygon points='9,18.4 3.3,12.7 4.7,11.3 9,15.6 19.3,5.3 20.7,6.7 '/%3E%3C/svg%3E") no-repeat center / 32px 32px; }



/* ** ** ** */

@keyframes modal-from-left
{
from
{ transform: translate(-100%, 0%);
  opacity: 0; }
}


dialog.side
{ line-height: 1;
  background-color: #ed1639;
  color: #fff;
  top: 0;
  left: 0;
  transform: none;
  max-width: 100vw;
  max-height: 100vh;
  height: 100%;
  width: 420px; }


dialog.side section
{ height: 100%;
  display: flex;
  flex-direction: column; }


dialog.side.-modal[open]
{ animation: modal-from-left 300ms; }


dialog.side hr
{ border-color: #228dda;
  margin-left: -1rem;
  margin-right: -1rem; }


dialog.side ul
{ list-style-type: none; }


dialog.side section ul *+li
{ margin-top: 12px; }


dialog.side section
{ border-top: 1px dashed #fff6;
  border-bottom: 1px dashed #fff6; }


dialog.side header,
dialog.side section,
dialog.side footer
{ padding: 24px; }


dialog.side footer > *+*
{ margin-top: 12px; }


dialog.side footer ul
{ display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-bottom: -6px; }


dialog.side footer ul > *
{ margin-left: 6px;
  margin-bottom: 6px; }


dialog.side footer img
{ display: block;
  width: 32px;
  height: 32px;
  transition: opacity 300ms; }


dialog.side footer a:hover img,
dialog.side footer a:focus img
{ opacity: 0.5; }


@media (min-width: 480px)
{
dialog.classic header,
dialog.side header
{ font-size: 24px; }
}


dialog.classic header [data-close],
dialog.side header [data-close]
{ float: right;
  width: 1em;
  height: 1em;
  margin: 6px;
  font-size: 1em;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cg stroke='%23fff' stroke-width='1'%3E%3Cpath d='M 0 0 L 9 9 Z'/%3E%3Cpath d='M 0 9 L 9 0 Z'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / contain transparent;
  cursor: pointer;
  transition: transform 1s;outline: none;
  border: none;
  overflow: hidden;
  text-indent: -1000px; }

dialog.classic header [data-close]
{ background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cg stroke='%2330abff' stroke-width='1'%3E%3Cpath d='M 0 0 L 9 9 Z'/%3E%3Cpath d='M 0 9 L 9 0 Z'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / contain transparent; }


dialog.classic header [data-close] + *,
dialog.side header [data-close] + *
{ margin-top: 0; }



dialog.classic header [data-close]
{ position: absolute;
  right: 0; }





/* ** ** ** */

dialog.classic
{ width: 600px;
  background-color: transparent; }


dialog.classic section
{ padding: 24px;
  border-radius: 9px;
  background-color: white; }


@media (min-width: 800px)
{
dialog.classic section
{ padding: 48px; }
}






form.v1 label,
form.v1 label > *
{ display: block; }


form.v1 .-x
{ position: relative; }


form.v1 .-x-checkbox
{ display: flex; }


form.v1 a
{ text-decoration: underline; }


form.v1 a:focus,
form.v1 a:hover
{ text-decoration-color: #059aff; }


form.v1 > * + *
{ margin-top: 12px; }


form.v1 > * + .-x-checkbox,
form.v1 > * + div
{ margin-top: 24px; }


form.v1 .-x div
{ position: absolute;
  top: 19px;
  left: 6px;
  transition-property: top, font-size, color;
  transition-duration: 300ms;
  color: #bbbcbd;
  background: white;
  user-select: none;
  pointer-events: none;
  max-width: calc(100% - 12px);
  line-height: 1; }

form.v1 .-x:focus-within div,
form.v1 .-x.filled div
{ top: 2px;
  font-size: 12px;
  color: #059aff; }


button[disabled]
{ opacity: 0.5; }


dialog form.v1 .snd,
dialog form.v1 .snd button
{ position: relative; }

dialog form.v1 .snd
{ padding-top: 24px; }

dialog form.v1 .snd::before
{ content: '';
  position: absolute;
  left: -24px;
  top: 0;
  width: calc(100% + 48px);
  height: calc(100% + 24px);
  background:
    url(/img/cb-l.png) no-repeat left bottom,
    url(/img/cb-r.png) no-repeat right bottom
    #0070c0; }


dialog#FAILED section,
dialog#SUCCESS section
{ background-color: #0070c0;
  color: white; }


@media (min-width: 800px)
{
dialog#CALLBACK section
{ padding-bottom: 24px; }


dialog form.v1 .snd::before
{ left: -48px;
  width: calc(100% + 96px); }
}



















/*
a.-bt,
button.-bt,
input.-bt
{ display: inline-block;
  background: none;
  background-color: red;
  border: 0px solid #ececec;
  color: white;
  padding: 14px 18px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  transition-property: background-color, color;
  transition-duration: 300ms; }


a.-bt:hover,
a.-bt:focus,
button.-bt:hover,
button.-bt:focus,
input.-bt:hover,
input.-bt:focus
{ background-color: darkred;
  color: white;
  outline: none; }


a.-bt.is-red,
button.-bt.is-red,
input.-bt.is-red
{  }
*/

form.v1 .-upload
{ position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-bottom: -12px;
  min-height: 48px;
  font-size: 18px;
  line-height: 1; }

form.v1 .-upload .button,
form.v1 .-upload .inputholder
{ min-width: 0;
  margin-left: 12px;
  margin-bottom: 12px; }

form.v1 .-upload .button
{ flex: 1 1 200px; }

form.v1 .-upload .inputholder
{ flex: 1 1 240px; }

form.v1 .-upload input
{ position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

form.v1 .-upload:focus-within .button
{ background-color: darkred; }

form.v1 .-upload .button
{ background-color: #059aff;
  color: #fff;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  justify-content: center; }

form.v1 .-upload .button img
{ height: 1em;
  margin-inline-end: 6px; }

form.v1 .-upload .inputholder
{ color: #ccc; }


















.ank-2-wrapper,
.ank-2-wrapper h2,
.ank-2-wrapper h3
{ position: relative; }


.ank-2-wrapper img
{ position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
  user-select: none;
  pointer-events: none; }


.ank-2-wrapper > div
{ padding: 72px 24px;
  text-shadow: 1px 1px 4px #fff, 1px 1px 1px #fff;
  max-width: 800px; }


.-csr .contents
.ank-2-wrapper > div h2
{ text-transform: none; }






.anketa-2 .q
{ color: #163759;
  line-height: 1;
  font-size: 24px;
  font-weight: bolder;
  display: flex; }

@media (min-width: 640px)
{
.anketa-2 .q
{ font-size: 32px; }
}

.anketa-2 .q img
{ height: 1em;
  margin-inline-end: 12px; }

.anketa-2 label.b
{ display: block; }


.anketa-2 .f
{ display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-bottom: -12px; }

.anketa-2 .f > input
{ flex: 1 1 240px;
  min-width: 0;
  margin-left: 12px;
  margin-bottom: 12px;
  border: 2px solid #086cba;
  border-radius: 6px;
  padding: 12px; }


.anketa-2 .ff
{ display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-bottom: -12px;
  user-select: none; }

.anketa-2 .ff > *
{ flex: 1 1 200px;
  min-width: 0;
  margin-left: 12px;
  margin-bottom: 12px;
  padding: 12px;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1; }

.anketa-2 .ff input
{ position: absolute;
  opacity: 0; }

.anketa-2 .ff input  +  span
{ flex: 0 0 36px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px #00a181 solid;
  margin-inline-end: 6px; }

.anketa-2 .ff input:checked  +  span
{ background: url(/img/ank-2/checked.svg) no-repeat center / contain;
  background-color: #00a181; }


.anketa-2 .ff .img
{ flex-direction: column;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #086cba;
  color: white;
  padding: 12px 24px 96px;
  border-radius: 3px; }

.anketa-2 .ff .img span
{ margin-bottom: 24px; }





.anketa-2 .blue
{ padding: 24px 0; }











.anketa-2 .welc
{ padding: 24px 12px;
  background: url(/img/ank-2/bg-2.jpg) no-repeat right bottom;
  background-color: #f6f6f6;
  overflow: hidden; }


.anketa-2 .welc .clmn
{ display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -24px;
  margin-bottom: -24px; }

.anketa-2 .welc .clmn > *
{ flex: 1 1 320px;
  min-width: 0;
  margin-left: 24px;
  margin-bottom: 24px; }


.anketa-2 .welc .clmn .one,
.anketa-2 .welc .clmn .two
{ color: #163759;
  font-size: 18px; }


.anketa-2 .welc .clmn .one .big
{ display: flex;
  font-weight: bolder; }

.anketa-2 .welc .clmn .one .big img
{ margin-inline-end: 16px;
  margin-top: 3px;
  height: 1em;
  transform: scale(1.5); }


@media (min-width: 420px)
{
.anketa-2 .welc .clmn .two
{ padding-left: 130px;
  text-align: center;
  background: url(/img/ank-2/reg.svg) no-repeat left 55px center / 82px 82px; }
}

@media (min-width: 800px)
{
.anketa-2 .welc
{ padding: 48px 24px;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: -24px; }

.anketa-2 .welc .clmn .one .big
{ font-size: 32px; }
}



















.-csr .contents .anketa-2 form .chebx
{ position: relative;
  color: #7d7c7d;
  --link-color: #7d7c7d;
  display: flex;
  align-items: center; }

.-csr .contents .anketa-2 form .chebx a
{ text-decoration: underline; }

.-csr .contents .anketa-2 form .chebx a:hover,
.-csr .contents .anketa-2 form .chebx a:focus
{ text-decoration-color: red; }

.-csr .contents .anketa-2 form .chebx input
{ position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

.-csr .contents .anketa-2 form .chebx input:checked ~ .bx
{ --border-color: blue; }

.-csr .contents .anketa-2 form .chebx input:checked ~ .bx:before
{ content: '✔';
  color: #059aff;
  line-height: 1;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.-csr .contents .anketa-2 form .chebx .bx
{ position: relative;
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  border: 2px solid #059aff;
  border-radius: 6px;
  margin-inline-end: 6px; }





dialog#AGREEMENT
{ width: 1280px; }

dialog#AGREEMENT p,
dialog#AGREEMENT ul
{ font-size: 14px;
  line-height: 1;
  --base-line: 12px; }

dialog#AGREEMENT .two button
{ font-size: 14px; }

dialog#AGREEMENT .two
{ display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center; }
