mixin page-vacancy()
    <div class="-outer -intro" style="--bg-1:url(/img/intro/background.jpg); --bg-2:url(/img/intro/decor.svg); --bg-3:url(/img/intro/economist.png);">
        <div class="-inner">
            <p><a href="/"><img src="/img/logo/csr-b.svg" alt="ЦСР&nbsp;РБ" class="logo"></a></p>
            <h1 class='vacancy__title'><span>Вакансии В&nbsp;АНО «ЦСР&nbsp;РБ»</span></h1>
            <p><span>Станьте частью команды Автономной некоммерческой организации «Центр стратегических разработок Республики Башкортостан»</span></p>
        </div>
    </div>
    <div class="-outer -information vacancy">
        <div class="-inner">
            <ul>
            <li><a href="#WHOAREYOU">Отправить резюме</a></li>
            <li><span>Конкурентность</span>Достойный уровень заработной&nbsp;платы</li>
            <li><span>Рабочий график</span> 5/2, с&nbsp;09.00 до&nbsp;18.00</li>
            <li><span>Трудоустройство</span> По трудовому кодексу</li>
            </ul>
        </div>
    </div>
    <div class="-outer -benefit §4">
        <div class="-inner">
            <h2 class='vacancy__title'>Открытые вакансии</h2>
            <ul class="vacancy__list vacancy__list-js">
                li.vacancy__item-js 
                    .vacancy__button
                        img(src='/img/icon/1v_icon.png' alt='Иконка').vacancy__icon
                        | Проектный архитектор
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Я - Урал Фаритович руководитель направления, заместитель директора АНО «ЦСР РБ». Именно я занимаюсь отбором кандидатов по ключевым вакансиям своего блока. 
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Ежедневно мы решаем большое количество задач по разным проектам, каждая из которых требует своего подхода, в связи с этим в нашу команду просто необходим «Проектный архитектор»
                            .vacancy__img
                                img(src='/img/vacancy/photo_ural.jpg' alt='Фотография')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли Проектного архитектора
                                ol
                                    li Отвечает за достижение целей проектов отдела и качество проектных решений
                                    li Ведет системный анализ в сфере ответственности отдела и формирует предложения по инициации проектов
                                    li Определяет архитектуру проектных решений и совместно с руководителями проектов структурирует проекты
                                    li Определяет потребности проектов в финансовых и иных ресурсах, в данных и цифровой инфраструктуре, в административной поддержке, взаимодействует с отделом процессинга данных и проектным офисом
                                    li Координирует проекты внутри отдела, определяет и контролирует кросс-функциональные связи между проектами и сотрудниками
                                    li Осуществляет мониторинг состояния проектов, контролирует исполнение планов
                                    li Контролирует соответствие проектных решений стратегическим целям ЦСР и требованиям заказчика
                                    li Определяет необходимость и организует взаимодействие руководителей проектов с руководителем направления, формирует предложения по решению проблем проектов
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее экономическое/управленческое/бизнес-образование
                                    li Английский (не ниже В2)
                                    li Умение работать с большим объемом информации
                                    li Опыт работы с Microsoft Project (либо опыт работы с аналогичными программными обеспечениями для управления проектами)
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 74 000 руб.
                li.vacancy__item-js
                    .vacancy__button
                        img(src='/img/icon/2v_icon.png' alt='Иконка').vacancy__icon
                        | Руководитель проектов
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Я - Урал Фаритович руководитель направления, заместитель директора АНО «ЦСР РБ». Именно я занимаюсь отбором кандидатов по ключевым вакансиям своего блока. 
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Ежедневно мы решаем большое количество задач по разным проектам, каждая из которых требует своего подхода, в связи с этим в нашу команду просто необходим «Руководитель проектов»
                            .vacancy__img
                                img(src='/img/vacancy/photo_ural.jpg' alt='Фотография')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли Руководителя проектов
                                ol
                                    li Отвечает за достижение целей проекта
                                    li Формирует календарный и ресурсный план
                                    li Формирует рабочие группы и организует взаимодействие исполнителей проекта (эксперты, аналитики, разработчики)
                                    li Определяет конкретные виды работ для исполнителей проекта и контролирует результаты
                                    li Отвечает за ведение документации по проекту
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее экономическое/управленческое/бизнес-образование
                                    li Умение работать с большим объемом информации
                                    li Опыт работы с Microsoft Project (либо опыт работы с аналогичными программными обеспечениями для управления проектами)
                                    li Опыт работы с технической документацией (ТЗ/КД) будет плюсом
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 67 000 руб.
                li.vacancy__item-js 
                    .vacancy__button
                        img(src='/img/icon/3v_icon.png' alt='Иконка').vacancy__icon
                        | Аналитик
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Меня зовут Аня, именно я занимаюсь подбором команды аналитиков, которая сможет укротить большие данные.
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Одним из направлений деятельности Центра стратегических разработок РБ – разработка комплексной методологии сбора и анализа, как качественных, так и количественных данных в проектах интересных бизнесу и государству. В связи с этим мы в поисках грамотного аналитика, который станет неотъемлемой частью наше команды.
                            .vacancy__img
                                img(src='/img/vacancy/photo_anna_x.jpg' alt='Фотография')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли Аналитика
                                ol
                                    li Ведет сбор и анализ информации в своей предметной области
                                    li Разрабатывает проектные решения
                                    li Проводит исследования интересных государству и бизнесу: формулирование и проверка гипотез, презентация результатов, формирование отчетных материалов;
                                    li Создает Dashboard.
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее техническое/экономическое/математическое образование; 
                                    li Знание математической статистики, регрессионного анализа, методов анализа данных;
                                    li Знание основных алгоритмов и библиотек машинного обучения, статистического анализа и визуализации; 
                                    li Умение анализировать большие массивы данных;
                                    li Умение структурировать информацию и работать с большими массивами данных с применением современных методов и алгоритмов;
                                    li Базовый опыт работы с R или Python;
                                    li Опыт использования ML-технологий и построения предиктивных моделей будет плюсом.
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 47 200 тыс. руб
                li.vacancy__item-js 
                    .vacancy__button
                        img(src='/img/icon/4v_icon.png' alt='Иконка').vacancy__icon
                        | Бизнес-аналитик
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Меня зовут Елена, именно я обучаю бизнес-анализу молодых коллег и занимаюсь отбором бизнес-аналитиков.
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Одним из направлений деятельности Центра стратегических разработок РБ – разработка комплексной методологии сбора и анализа, как качественных, так и количественных данных в проектах интересных бизнесу и государству. В связи с этим мы в поисках бизнес-аналитика, который станет неотъемлемой частью наше команды.
                            .vacancy__img
                                img(src='/img/vacancy/photo_elena.jpg' alt='Фотография')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли Аналитика
                                ol
                                    li Ведет сбор и анализ информации и моделирует бизнес-процессы;
                                    li Разрабатывает проектные решения;
                                    li Участвует во внедрении решения на основе машинного обучения на различных этапах работы с проектом; 
                                    li Занимается предикативной аналитикой;
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее техническое/экономическое/математическое образование; 
                                    li Знание математической статистики, регрессионного анализа, методов анализа данных;
                                    li Знание основных алгоритмов и библиотек машинного обучения, статистического анализа и визуализации; 
                                    li Умение анализировать большие массивы данных;
                                    li Умение структурировать информацию и работать с большими массивами данных с применением современных методов и алгоритмов;
                                    li Базовый опыт работы с R или Python;
                                    li Опытный пользователь MS Excel, MS PowerPoint.
                                    li Понимание Agile, знание SQL, парсинга, SPSS, Eviews будет неотъемлемым плюсом.
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 54 800 тыс. руб
                li.vacancy__item-js
                    .vacancy__button
                        img(src='/img/icon/5v_icon.png' alt='Иконка').vacancy__icon
                        | Эксперт
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Меня зовут Аня, я подбираю крутых экспертов в наши проекты.
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Ежедневно мы решаем большое количество задач по разным проектам, каждая из которых требует своего подхода, в связи с этим в нашу команду просто необходим «Эксперт»
                            .vacancy__img
                                img(src='/img/vacancy/photo_anna_y.jpg' alt='Фотография')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли Эксперта
                                ol
                                    li Организует информационно-аналитическую работу по проектам и обеспечивает ее методологическое сопровождение
                                    li Проводит экспертную оценку аналитических разработок и проектных решений
                                    li Ведет сбор и анализ информации в своей предметной области
                                    li Разрабатывает проектные решения
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее техническое/экономическое/математическое образование
                                    li Умение работать с большим объемом информации
                                    li Опыт работы с Microsoft Project (либо опыт работы с аналогичными программными обеспечениями для управления проектами)
                                    li Опыт работы с технической документацией (ТЗ, КД) является плюсом
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 54 800 руб
                li.vacancy__item-js 
                    .vacancy__button
                        img(src='/img/icon/6v_icon.png' alt='Иконка').vacancy__icon
                        | Руководитель отдела инноваций
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Я - Урал Фаритович руководитель направления, заместитель директора АНО «ЦСР РБ». Именно я занимаюсь отбором кандидатов по ключевым вакансиям своего блока. 
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Ежедневно количество наших проектов растет, каждый из них требует внедрения необычных и инновационных решений, в связи с этим в нашу команду просто необходим «Руководитель отдела инноваций».
                            .vacancy__img
                                img(src='/img/vacancy/photo_ural.jpg' alt='Фотография')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли Проектного архитектора
                                ol
                                    li Обеспечивает стратегический анализ внутренней и внешней среды деятельности ЦСР (Бенчмаркинг)
                                    li Ведет системный анализ в сфере ответственности отдела и формирует предложения по инициации проектов
                                    li Координирует проекты внутри отдела, определяет и контролирует кросс-функциональные связи между проектами и сотрудниками
                                    li Осуществляет мониторинг состояния проектов отдела, контролирует исполнение планов
                                    li Формирует предложения по изменениям в стратегическом развитии
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее экономическое/управленческое/бизнес-образование
                                    li Английский (не ниже В2)
                                    li Умение работать с большим объемом информации
                                    li Опыт работы с Microsoft Project (либо опыт работы с аналогичными программными обеспечениями для управления проектами)
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 64 000 руб.
                li.vacancy__item-js 
                    .vacancy__button
                        img(src='/img/icon/7v_icon.png' alt='Иконка').vacancy__icon
                        | Архитектор данных / Руководитель отдела процессинга данных
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Меня зовут Аня, именно я занимаюсь подбором команды аналитиков, которая сможет укротить большие данные.
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Ежедневно количество наших проектов растет, каждый из них требует тщательного анализа данных из внешних источников, в связи с этим в нашу команду просто необходим «Архитектор/Руководитель отдела процессинга данных».
                            .vacancy__img
                                img(src='/img/vacancy/photo_anna_x.jpg' alt='Фотография')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли Архитектор данных/Руководитель отдела процессинга данных
                                ol
                                    li Организует сбор, хранение, обработку и анализ данных из внешних источников и хранилища данных организации
                                    li Консультирует руководителей и исполнителей проектов по использованию данных и применению методов Data Science в проектах
                                    li Обеспечивает бесперебойный доступ к информации
                                    li Способствует оптимизации SQL-запросов
                                    li Проводи анализ и оценку эффективности
                                    li Разрабатывает серверную логику
                                    li Обеспечение безопасность данных
                                    li Разрабатывает базы данных организации с большой нагрузкой
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее техническое/экономическое/математическое образование
                                    li Английский (не ниже В2)
                                    li Знание математической статистики, регрессионного анализа, методов анализа данных
                                    li Знание основных алгоритмов и библиотек машинного обучения, статистического анализа и визуализации;
                                    li Знание системного управления, проектирования баз данных
                                    li Умение анализировать большие массивы данных
                                    li Умение структурировать информацию и работать с большими массивами данных с применением современных методов и алгоритмов
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 64 000 руб.
                li.vacancy__item-js 
                    .vacancy__button
                        img(src='/img/icon/8v_icon.png' alt='Иконка').vacancy__icon
                        | Аналитик данных
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Меня зовут Аня, именно я занимаюсь подбором команды аналитиков, которая сможет укротить большие данные.
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Ежедневно количество наших проектов растет, каждый из них требует тщательного анализа данных из внешних источников, в связи с этим в нашу команду просто необходим «Аналитик данных».
                            .vacancy__img
                                img(src='/img/vacancy/photo_anna_x.jpg' alt='Фотография')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли Архитектор данных/Руководитель отдела процессинга данных
                                ol
                                    li Организует сбор, хранение, обработку и анализ данных из внешних источников и хранилища данных организации
                                    li Способствует оптимизации SQL-запросов
                                    li Пишет запросы в базы данных, выявляет тенденции, проверяет гипотезы, проводит тесты и на основе результатов делает определенные выводы, которые помогают решить ту или иную задачу.
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее техническое/экономическое/математическое образование
                                    li Знание математической статистики, регрессионного анализа, методов анализа данных
                                    li Знание системного управления, проектирования баз данных
                                    li Опыт с SQL разных реализаций, 
                                    li Базовый опыт работы с R или Python, библиотеками Pandas, библиотеками визуализации
                                    li Умение использовать API
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 47 200 руб.
                li.vacancy__item-js 
                    .vacancy__button
                        img(src='/img/icon/9v_icon.png' alt='Иконка').vacancy__icon
                        | Инженер данных
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Меня зовут Аня, именно я занимаюсь подбором команды аналитиков, которая сможет укротить большие данные.
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Ежедневно количество наших проектов растет, каждый из них требует бесперебойного доступа к  хранилищу данных и инструментам работы с ними, в связи с этим в нашу команду просто необходим «Инженер данных».
                            .vacancy__img
                                img(src='/img/vacancy/photo_anna_x.jpg' alt='Фотография')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли Инженер данных
                                ol
                                    li Обеспечивает работу хранилища данных организации
                                    li Обеспечивает бесперебойный доступ к данным
                                    li Создает конвейер по обработке данных
                                    li Интегрирует различные системы и источники
                                    li Предоставляет пользователям инструменты работы с данными
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее техническое/экономическое/математическое образование
                                    li Опыт в SQL-базах данных (отлично знать SQL)
                                    li Опыт работы с Unix-системами
                                    li Владение несколькими языками программирования (например, Python, Java, Scala)
                                    li Понимание основы распределенных систем
                                    li Понимать, что делать с большими данными в Hadoop, Spark, Kafka
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 47 200 руб.
                li.vacancy__item-js 
                    .vacancy__button
                        img(src='/img/icon/10v_icon.png' alt='Иконка').vacancy__icon
                        | Руководитель проектного офиса
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Я - Урал Фаритович руководитель направления, заместитель директора АНО «ЦСР РБ». Именно я занимаюсь отбором кандидатов по ключевым вакансиям своего блока. 
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Разноплановость наших проектов требует их систематизации и четкого регулирования,  в связи с этим в нашу команду просто необходим «Руководитель проектного офиса»
                            .vacancy__img
                                img(src='/img/vacancy/photo_ural.jpg' alt='Фотография')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли Руководителя проектного офиса
                                ol
                                    li Организует координацию проектов
                                    li Занимается планированием и оптимизацией ресурсов
                                    li Осуществляет мониторинг реализации проектов
                                    li Контролирует управление бюджетами проектов, в том числе управление рисками
                                    li Организует стандартизацию качества проектов
                                    li Организует единство документации
                                    li Обеспечивает коммуникацию в проектных командах и обучение
                                    li Управляет разработкой новых проектов
                                    li Управляет портфелем проектов
                                    li Управляет завершенными проектами
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее экономическое/управленческое/бизнес-образование
                                    li Умение работать с большим объемом информации
                                    li Опыт работы с Microsoft Project (либо опыт работы с аналогичными программными обеспечениями для управления проектами)
                                    li Опыт работы с технической документацией (ТЗ/КД) будет плюсом
                                    li Владение методиками сбора и обработки информации;
                                    li Умение налаживать эффективное взаимодействие между сотрудниками разных подразделений, для решения поставленных задач
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 74 000 руб.
                li.vacancy__item-js 
                    .vacancy__button
                        img(src='/img/icon/11v_icon.png' alt='Иконка').vacancy__icon
                        | Методолог
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Я – Регина специалист отдела методологии и опережающего анализа, именно я занимаюсь отбором кандидатов, которые по «полочкам» смогут разложить нашу проектную деятельность. 
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Разноплановость наших проектов требует разработки четкой системы методологии и применения новых техник управления проектами, в связи с этим в нашу команду просто необходим «Методолог проектного офиса»
                            //- .vacancy__img
                            //-     img(src='/img/vacancy/photo_ural.jpg')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли Методолога
                                ol
                                    li Разрабатывает и внедряет методологии и техники управления проектами
                                    li Формирует регламенты, методики, шаблоны и формы отчетности для управления проектами
                                    li Проектирует базу знаний по проектам
                                    li Выполняет аудит проектов
                                    li Обучает управлению проектами
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее техническое/экономическое образование 
                                    li Опыт работы не менее 1,5 лет в области проектного управления.
                                    li Опыт реализации проектов в области связи/информационных технологий.
                                    li Знание и практический опыт применения национальных и международных стандартов в области проектного управления.
                                    li Навыки обработки, систематизации, анализа больших массивов данных.
                                    li Продвинутый пользователь Excel, Power Point, MS Project.
                                    li Стрессоустойчивость, пунктуальность, ответственный подход к выполнению задач.
                                    li Развитые коммуникативные навыки.
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 64 000 руб.
                li.vacancy__item-js
                    .vacancy__button 
                        img(src='/img/icon/12v_icon.png' alt='Иконка').vacancy__icon
                        | Менеджер / администратор проектов
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Я – Регина специалист отдела методологии и опережающего анализа, именно я занимаюсь отбором кандидатов, на которых будет держаться «проектный офис» нашей организации. 
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Разноплановость наших проектов требует организации бесперебойной работы всех процессов внутри проекта и обеспечения связи между инициаторами и стейкхолдерами, в связи с этим в нашу команду просто необходим «Администратор/менеджер проекта»
                            //- .vacancy__img
                            //-     img(src='/img/vacancy/photo_ural.jpg')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли Администратора/менеджера проекта
                                ol
                                    li Оказывает административную поддержку руководителям проекта 
                                    li Организует внешнюю и внутреннюю коммуникацию по проектам 
                                    li Поддерживает документооборот
                                    li Анализирует конкурентов и умеет от них отстраиваться.
                                    li Ловко ставит задачи разработке, дизайнерам и другим членам команды и фокусирует их на приоритетных задачах
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее экономическое/техническое/ образование. Допускается в сфере рекламы и пиара.
                                    li Приветствуется опыт работы в области проектного управления
                                    li Способность работать в режиме проектной деятельности, принимать ответственность за конечный результат и сроки выполнения.
                                    li Творческий подход, инициативность, активность, умение работать в команде, связанной единой идеей и целью
                                    li Стрессоустойчивость, пунктуальность, ответственный подход к выполнению задач
                                    li Развитые коммуникативные навыки
                                    li Опыт руководства (в рамках проектных команд) будет плюсом
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 54 800 руб.
                li.vacancy__item-js 
                    .vacancy__button
                        img(src='/img/icon/13v_icon.png' alt='Иконка').vacancy__icon
                        | Администратор ИСУП
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Меня зовут Аня, именно я занимаюсь подбором команды аналитиков, которая сможет укротить большие данные.
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Ежедневно количество наших проектов растет, каждый из них требует контроля , в связи с этим в нашу команду просто необходим «Администратор ИСУП».
                            .vacancy__img
                                img(src='/img/vacancy/photo_anna_x.jpg' alt='Фотография')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли Администратора ИСУП
                                ol
                                    li Обеспечивает работу информационной системы управления проектами (ИСУП), 
                                    li Создает отчеты, представления и дашборды, печатные формы и другое
                                    li Участие в интеграции корпоративных информационных систем (КИС)
                                    li Участие во внедрении ИС
                                    li Интегрирует различные системы и источники
                                    li Предоставляет пользователям инструменты работы с данными
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее техническое образование
                                    li Понимание архитектуры баз данных, высокий уровень ИТ кругозора и интерес к технологиям
                                    li Опыт администрирования одной из ИСУП Project, Primavera, Spider, Адванта и т.п.
                                    li Знание методик проектного управления, подходов к формированию графиков производства работ
                                    li Знание специфики управления проектами в проектировании желательно
                                    li Опыт настройки, техподдержки или внедрения любых информационных систем
                                    li Умение быстро обучаться, самостоятельно находить ответы на технические вопросы
                                    li Опытный пользователь MS Office (Exсel, Word, Power Point, Outlook)
                                    li Аналитические способности, умение и желание работать с массивами данных
                                    li Развитые коммуникационные навыки.
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 54 800 руб.
                li.vacancy__item-js 
                    .vacancy__button
                        img(src='/img/icon/14v_icon.png' alt='Иконка').vacancy__icon
                        | Менеджер по ресурсам
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Я – Регина специалист отдела методологии и опережающего анализа, именно я занимаюсь отбором кандидатов, на которых будет держаться «проектный офис» нашей организации. 
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Разноплановость наших проектов требует организации бесперебойной работы всех процессов внутри проекта и обеспечения связи между инициаторами и стейкхолдерами, в связи с этим в нашу команду просто необходим «Менеджер по ресурсам»
                            //- .vacancy__img
                            //-     img(src='/img/vacancy/photo_anna_x.jpg')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли менеджера по ресурсам
                                ol
                                    li Оказывает административную поддержку руководителям проекта 
                                    li Управляет бюджетами проектов 
                                    li Организует принятие решений о перераспределении ресурсов 
                                    li Выполняет поручения руководства
                                    li Формирует ресурсный план по всем проектам (учет часов, стоимости часа для персоны\роли, учет утилизации рабочего времени разработчиков и проджект менеджеров и оверхэдов)
                                    li Формирование планов развития для персон и команд
                                    li Взаимодействие с учебными заведениями для обеспечения проектов стажерами
                                    li Формирование плана найма персонала
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее экономическое/техническое/ образование. Допускается в сфере рекламы и пиара.
                                    li Приветствуется опыт работы в области проектного управления
                                    li Способность работать в режиме проектной деятельности, принимать ответственность за конечный результат и сроки выполнения.
                                    li Творческий подход, инициативность, активность, умение работать в команде, связанной единой идеей и целью
                                    li Стрессоустойчивость, пунктуальность, ответственный подход к выполнению задач
                                    li Знание принципов современных паттернов и технологий разработки на уровне позволяющем оценивать компетенцию разработчика и/или проджект менеджера
                                    li Понимание технологии ассессмента, имели навыки интервьюера для проведения интервью с кандидатами
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 54 800 руб.
                li.vacancy__item-js
                    .vacancy__button
                        img(src='/img/icon/15v_icon.png' alt='Иконка').vacancy__icon
                        | Тренер
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Я – Регина специалист отдела методологии и опережающего анализа, именно я занимаюсь отбором кандидатов, на которых будет держаться «проектный офис» нашей организации. 
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Разноплановость наших проектов требует повышения навыков нашей команды, ее еще большее сплочение, в связи с этим в нашу команду просто необходим «командный тренер»
                            //- .vacancy__img
                            //-     img(src='/img/vacancy/photo_anna_x.jpg')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли Тренера
                                ol
                                    li Организует обучение проектных команд 
                                    li Посттренинговое сопровождение сотрудников, анализ эффективности проведенных мероприятий.
                                    li Совместно с hr- менеджером планирование тренингов, ротация персонала по результатам
                                    li Взаимодействие с учебными заведениями для обеспечения проектов стажерами
                                    li Формирование плана найма персонала
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее образование. Допускается в сфере рекламы и пиара, связей с общественностью, психология
                                    li Успешный опыт работы тренинг- менеджером
                                    li Опыт разработки и проведения тренингов по управлению проектами
                                    li Практические знания направлений работы с персоналом: обучение, аттестация
                                    li Высокие коммуникативные навыки
                                    li Умение выстраивать эффективные отношения в коллективе
                                    li Отличные навыки презентации и проведения переговоров
                                    li Дипломатичность, эмпатия, любовь к людям
                                    li Высокий уровень личной эффективности и ответственности за результаты своего труда
                                    li Умение и желание работать в системе многозадачности
                                    li Настойчивость в достижении поставленных целей, умение доводить дело до конца
                                    li Грамотная устная и письменная речь, презентабельный внешний вид
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 47 200 руб.
                li.vacancy__item-js 
                    .vacancy__button
                        img(src='/img/icon/16v_icon.png' alt='Иконка').vacancy__icon
                        | Координатор программ / Координатор ппортфеля
                    .vacancy__container
                        .vacancy__content
                            .vacancy__text
                                h3 О нас
                                p Привет! Я – Регина специалист отдела методологии и опережающего анализа, именно я занимаюсь отбором кандидатов, на которых будет держаться «проектный офис» нашей организации. 
                                p Наш центр создан в целях развития экономического потенциала Республики Башкортостан.
                                p Сейчас мы делаем один из важнейших шагов – расширяем нашу команду и наши возможности. 
                                p Наши кадры наш основной ресурс, именно поэтому мы стремимся создать максимально благоприятные условия для наших сотрудников. Мы глубоко чтим ценности нашей организации: максимально полно используем потенциал своих возможностей, поддерживаем самостоятельность в выборе решений, развиваем и совершенствует наши кадры, делимся нашей жизненной мудростью и расширяем интеллектуальное развитие каждого.  
                                p Разноплановость наших проектов требует организации бесперебойной работы всех процессов внутри проекта и обеспечения связи между инициаторами и стейкхолдерами, в связи с этим в нашу команду просто необходим «Координатор программ»
                            //- .vacancy__img
                            //-     img(src='/img/vacancy/photo_anna_x.jpg')
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 О роли координатора программ
                                ol
                                    li Организационное обеспечение управления проектами, контроль поручений, ведение документации
                                    li Помощь руководителям проектов в планировании и координации повседневной деятельности проектных команд
                                    li Обеспечение ресурсами выполняемых работ
                                    li Организация и проведение мероприятий, встреч, переговоров
                                    li Составление отчетов о ходе и промежуточных результатах работ для высшего руководства и предложений относительно повышения их эффективности
                        .vacancy__content
                            .vacancy__text
                                h3 Требования
                                ol
                                    li Высшее экономическое/техническое образование
                                    li Успешный опыт работы в проектном управлении
                                    li Разговорный уровень английского будет плюсом
                                    li Умение выстраивать эффективные отношения и налаживать коммуникацию
                                    li Отличные навыки презентации и проведения переговоров
                                    li Умение и желание работать в системе многозадачности
                                    li Грамотная устная и письменная речь, презентабельный внешний вид
                        .vacancy__content.vacancy__content_bg
                            .vacancy__text
                                h3 Формальности
                                ol
                                    li Рабочий график – с понедельника по пятницу, с 9 до 18 часов;
                                    li Возможность работы как в офисе, так и в удаленном формате;
                                    li Возможности для профессионального развития;
                                    li Конкурентоспособный уровень заработной платы, который мы готовы обсудить с успешными кандидатами на собеседовании;
                                    li Оплачиваемые отпуска и больничные, заработная плата 54 800 руб.
            </ul>
        </div>
    </div>
    <div class="-outer -and-action §4" style="--bg-1:url(/img/andaction/bg.jpg);">
    <div class="-inner">
        <h2>ВАШИ ДЕЙСТВИЯ:</h2>
        <ul class="-and-action-list">
        <li style="--bg-1:url(/img/andaction/1.png);"><b>Направить свое резюме на&nbsp;почту</b></li>
        <li style="--bg-1:url(/img/andaction/2.png); top: 0;"><b>Ожидать завершения заочного отбора и&nbsp;обратной связи</b></li>
        <li style="--bg-1:url(/img/andaction/4.png);" class='vacancy__and-action-list'><b>Пройти очное собеседование с&nbsp;руководителем стажировки</b> <small>в&nbsp;случае успешного выполнения тестового задания</small></li>
        </ul>
    </div>
    </div>
    <div class="-outer -send-information §4" id="WHOAREYOU">
    <div class="-inner">
        <h2>Стать сотрудником в&nbsp;АНО «ЦСР&nbsp;РБ»</h2>
        <form action="/local/include/ajax/ajax.probation.php" method="POST" data-request="SENDFILE" data-modal="RESULT" enctype="multipart/form-data">      
        <div><input type="text" name="name" required="" placeholder="Как вас зовут?"></div>
        <div><input type="tel" name="phone" required="" placeholder="Телефон" data-mask="ru" pattern=".{18}"></div>
        <div class="filebox -upload">
            <label>                                                                                                     
            <input name="FILE_DATA" type="file" required="" accept="application/pdf, text/plain, application/msword" data-max-size="16">
            
            <div class="attach">
                <img src="/img/sendfile/attach.svg" alt="" loading="lazy">
                <span class="inputholder">Прикрепить резюме</span>
            </div>
            <div class="desc">
                <div class="icon">
                <img src="/img/sendfile/pdf.svg" alt="" loading="lazy">
                <img src="/img/sendfile/doc.svg" alt="" loading="lazy">
                </div>
                <div>Форматы: pdf, docx</div>
                <div>Размер: не более 10Мб</div>
            </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
            <input type="checkbox" required="">
            <div></div>
            <div>Нажимая на кнопку, Я даю свое <a target="_blank" href="/personal/">Согласие на обработку персональных данных</a> и принимаю условия <a target="_blank" href="/policy/">Политики конфиденциальности.</a></div>
            </label>
        </div>
        <div data-response="SENDFILE"></div>
        <div class="-center"><input type="submit" value="Отправить резюме"></div>
        </form>
        
    </div>
    </div>